<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href = "/static/style.css" rel = "stylesheet" type="text/css">
</head>

<body>
<nav>
  <h1>Prime Number Regurgitator</h1>
</nav>

{% block content %}
  <form method="get">
    <label for="Low">Low:</label>
    <input name="Low" id="Low" value="{{t['Low']}}" required><br>
    <label for="High">High:</label>
    <input name="High" id="High" value="{{t['High']}}" required><br>
    <label for"Primes:">Primes:</label>
    <input name="Primes:" id="Primes" value="{{t['Primes']}}" required><br>
    <p>Enter a positive integer for Low and High.</p>
    <p>For json put this --> ?json=1&Low=1&High=15 in the url after the 5000/</p>

    <input type="submit" value="Print.">
  </form>
{% endblock %}

<a href="{{ url_for('logout')  }}">Reset Session</a>

</body>
